body { font-family: Arial; background:#111; color:white; text-align:center }
select,button { padding:10px; margin:10px }
.container { display:flex; justify-content:center; flex-wrap:wrap }
.card { width:250px; margin:15px; background:#222; padding:10px }
img { width:100% }
